/* New CSS rules for the 'aside' element */
aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: lightblue; /* Cambiamos el color de fondo a azul claro */
  color: darkblue; /* Cambiamos el color del texto a azul oscuro */
  text-align: center;
  position: relative; /* Añadimos esta propiedad para establecer posición relativa */
}

/* CSS rule for images inside 'aside' */
aside img {
  width: 200px;
  height: auto;
}

/* CSS rule for the 'h2' heading inside 'aside' */
aside h2 {
  position: absolute;
  top: 20px; /* Ajusta según sea necesario */
  left: 20px; /* Ajusta según sea necesario */
  background-color: lightblue; /* Cambiamos el color de fondo a azul claro */
  color: darkblue; /* Cambiamos el color del texto a azul oscuro */
  padding: 5px; /* Agrega relleno para legibilidad */
}
